.home-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-hero {
  width: 100%;
  display: flex;
  max-width: 1320px;
  padding-left: var(--dl-space-space-unitandahalfunit);
  padding-right: var(--dl-space-space-unitandahalfunit);
  justify-content: center;
}
.home-container01 {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1320px;
  min-height: 85vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-card {
  width: 60%;
  height: 225px;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  z-index: 1;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  margin-top: var(--dl-space-space-tripleunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius1);
  flex-direction: column;
  backdrop-filter: saturate(200%) blur(30px);
  background-color: hsla(0,0%,100%,.8);
}
.home-heading {
  text-align: center;
  background-image: linear-gradient(180deg, rgb(0, 0, 0) 0.00%,rgba(255, 0, 0, 0.92) 100.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-text {
  color: var(--dl-color-secondary-700);
  font-style: normal;
  text-align: center;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: var(--dl-space-space-unitandahalfunit);
}
.home-image {
  top: 88px;
  left: 905px;
  width: 731px;
  height: 739px;
  position: absolute;
  box-shadow: 5px 5px 10px 0px #a10000,5px 5px 10px 0px #ff0000;
  object-fit: cover;
  border-color: #7b0103;
  border-style: hidden;
  border-width: 5px;
  object-position: right;
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
}
.home-container02 {
  width: 100%;
  height: 816px;
  display: flex;
  max-width: 1320px;
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
.home-container03 {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}
.home-text01 {
  color: rgb(255, 0, 0);
  font-size: 2.25rem;
  font-family: Open Sans;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: var(--dl-space-space-halfunit);
  text-transform: none;
  text-decoration: none;
  background-image: linear-gradient(rgb(0, 0, 0) 0%, rgba(255, 0, 0, 0.92) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home-blog {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  align-items: center;
  justify-content: space-between;
}
.home-container04 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  margin-right: 32px;
  justify-content: center;
}
.home-container05 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-image1 {
  width: 100px;
  object-fit: cover;
}
.home-image2 {
  width: 126px;
  height: 0px;
  object-fit: cover;
}
.home-testimonials {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(180deg, rgb(0, 0, 0) 0.00%,rgba(255, 0, 0, 0.89) 100.00%);
}
.home-bottom-wave-image {
  top: auto;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: -5px;
  height: 160px;
  position: absolute;
  margin-top: 10px;
  object-fit: cover;
}
.home-bottom-wave-image1 {
  top: -16px;
  right: 0px;
  width: 1922px;
  height: 152px;
  position: absolute;
  margin-top: 10px;
  object-fit: cover;
}
.home-container06 {
  width: 100%;
  height: 784px;
  display: flex;
  z-index: 1;
  max-width: 1320px;
  align-items: flex-start;
  padding-top: 15rem;
  padding-left: var(--dl-space-space-tripleunit);
  padding-right: var(--dl-space-space-tripleunit);
  flex-direction: row;
  padding-bottom: 15rem;
  justify-content: space-between;
}
.home-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-container08 {
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-container09 {
  display: flex;
  max-width: 600px;
  align-items: flex-start;
  margin-right: var(--dl-space-space-tripleunit);
  flex-direction: column;
}
.home-text02 {
  color: var(--dl-color-gray-white);
}
.home-text03 {
  color: var(--dl-color-gray-white);
  opacity: 0.8;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.home-button {
  width: 168px;
  height: 40px;
  padding-right: 0px;
  padding-bottom: 0px;
  text-decoration: none;
  background-color: #ffffff;
}
.home-logos {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-container10 {
  flex: 0 0 auto;
  display: flex;
  min-width: 400px;
  align-items: flex-start;
  padding-left: var(--dl-space-space-triplequarterunit);
  flex-direction: column;
}
.home-container11 {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: row;
  justify-content: space-between;
}
.home-container12 {
  width: 58px;
  height: 58px;
  padding: var(--dl-space-space-unit);
  align-self: flex-end;
  object-fit: cover;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-gray-white);
}
.home-icon {
  width: 24px;
  height: 24px;
}
.home-container13 {
  width: 58px;
  height: 58px;
  padding: var(--dl-space-space-unit);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-gray-white);
}
.home-icon02 {
  width: 24px;
  height: 24px;
}
.home-container14 {
  width: 58px;
  height: 58px;
  padding: var(--dl-space-space-unit);
  align-self: flex-end;
  object-fit: cover;
  margin-right: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-gray-white);
}
.home-icon04 {
  width: 24px;
  height: 24px;
}
.home-container15 {
  flex: 0 0 auto;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-tripleunit);
  flex-direction: row;
  justify-content: space-between;
}
.home-container16 {
  width: 58px;
  height: 58px;
  padding: var(--dl-space-space-unit);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-gray-white);
}
.home-icon06 {
  width: 24px;
  height: 24px;
}
.home-container17 {
  width: 58px;
  height: 58px;
  padding: var(--dl-space-space-unit);
  align-self: center;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-gray-white);
}
.home-icon08 {
  width: 24px;
  height: 24px;
}
.home-container18 {
  width: 58px;
  padding: var(--dl-space-space-unit);
  align-self: flex-end;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-gray-white);
}
.home-icon10 {
  width: 24px;
  height: 24px;
}
.home-container19 {
  flex: 0 0 auto;
  width: 50%;
  height: 70px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-container20 {
  width: 58px;
  height: 58px;
  padding: var(--dl-space-space-unit);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-gray-white);
}
.home-icon12 {
  width: 24px;
  height: 24px;
}
.home-container21 {
  width: 58px;
  height: 58px;
  padding: var(--dl-space-space-unit);
  align-self: flex-end;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
  background-color: var(--dl-color-gray-white);
}
.home-icon14 {
  width: 24px;
  height: 24px;
}
@media(max-width: 991px) {
  .home-hero {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .home-container01 {
    max-width: 960px;
  }
  .home-card {
    width: 100%;
  }
  .home-container02 {
    max-width: 960px;
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
  }
  .home-container03 {
    max-width: 80%;
  }
  .home-blog {
    flex-direction: column;
  }
  .home-container04 {
    margin-right: 0px;
    margin-bottom: 48px;
  }
  .home-container06 {
    padding-left: var(--dl-space-space-doubleunit);
    padding-right: var(--dl-space-space-doubleunit);
    justify-content: center;
  }
  .home-container08 {
    align-items: center;
  }
  .home-container09 {
    margin-right: 0px;
  }
  .home-logos {
    display: none;
  }
}
@media(max-width: 767px) {
  .home-card {
    align-items: center;
  }
  .home-image {
    display: none;
  }
  .home-container02 {
    max-width: 720px;
  }
  .home-blog {
    padding-left: 32px;
    padding-right: 32px;
  }
  .home-container06 {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
}
@media(max-width: 479px) {
  .home-card {
    padding: var(--dl-space-space-unit);
  }
  .home-blog {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
  .home-container06 {
    padding-top: var(--dl-space-space-sixunits);
    padding-bottom: var(--dl-space-space-sixunits);
  }
}
