.primary-pink-button-container {
  display: flex;
  position: relative;
  border-color: var(--dl-color-secondary-400);
  border-width: 1px;
  background-image: linear-gradient(90deg, rgb(189, 195, 199) 0.00%,rgb(212, 212, 212) 100.00%);
}
.primary-pink-button-button {
  color: #ffffff;
  outline: none;
  align-self: center;
  background:  linear-gradient( 310deg ,#7928ca,#ff0080);
  text-align: center;
  transition: all .15s ease-in;
  border-radius: 1.875rem;
}
.primary-pink-button-button:hover {
  cursor: pointer;
  transform: scale(1.02);
}
.primary-pink-button-root-class-name {
  background-color: #ffffff;
}
